<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Sign up"></Label>
</ActionBar>
<ScrollView>
    <StackLayout class="page p-t-15">
        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" hint="Name" autocorrect="false" autocapitalization="none" [(ngModel)]="kalethaner.itName"></TextField>
        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" hint="Email Address" keyboardType="email" autocorrect="false" autocapitalization="none" [(ngModel)]="kalethaner.otName"></TextField>
        <Label [text]="kalethaner?.rang"></Label>
    </StackLayout>
</ScrollView>