<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="chat"></Label>
</ActionBar>


<FlexboxLayout flexDirection="column" justifyContent="space-between">
    <ScrollView #chatScrollArea>
        <FlexboxLayout flexDirection="column">
            <FlexboxLayout *ngFor="let message of $chat | async" width="100%">
                <Message [text]="message.message" [from]="message.from" [right]="isThisMyMessage(message)"></Message>
            </FlexboxLayout>
        </FlexboxLayout>
    </ScrollView>
    <FlexboxLayout flexDirection="row" flexShrink="0" justifyContent="space-between">
        <TextField class="input input-border" width="75%" hint="Nachricht..." [(ngModel)]="neueNachricht" (focus)="scrollDown()"></TextField>
        <Button text="Senden" class="text-center btn btn-primary" (tap)="sendMessage()" width="25%"></Button>
    </FlexboxLayout>
</FlexboxLayout>