<Headbar headline="Bearbeite deine Con"></Headbar>
<GridLayout>
    <FlexboxLayout class="con-edit k-container">
        <ScrollView>
            <StackLayout>
                <StackLayout [ngClass]="{'k-box': conName === 'new' , 'k-segment': conName !== 'new'}">
                    <Label class="input input-border" [text]="convention.name" *ngIf="conName !== 'new'"></Label>
                    <TextField class="input input-border" hint="Name" [(ngModel)]="convention.name" *ngIf="conName === 'new'"></TextField>
                </StackLayout>

                <FlexboxLayout class="k-segment">
                    <FlexboxLayout class="list-select">
                        <FlexboxLayout class="list-select__box con-edit__date" (tap)="toggleDateDialog()" [ngClass]="{'list-select__box--active': dateDialogOpen }">
                            <Label class="list-select__text" [text]="convention.date | date:'d MMM yyyy'"></Label>
                        </FlexboxLayout>

                        <FlexboxLayout class="list-select__box con-edit__date" (tap)="toggleTimeDialog()" [ngClass]="{'list-select__box--active': timeDialogOpen}">
                            <Label class="list-select__text" [text]="convention.time | date:'H:mm'"></Label>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </FlexboxLayout>

                <StackLayout class="k-box">
                    <TextField class="input input-border" hint="Link zur Con" [(ngModel)]="convention.conLink"></TextField>
                </StackLayout>
                <StackLayout class="k-box">
                    <TextField class="input input-border" hint="Planungsdokument" [(ngModel)]="convention.planDoc"></TextField>
                </StackLayout>
                <StackLayout class="k-box">
                    <TextView class="input input-border" hint="Beschreibung" [(ngModel)]="convention.description"></TextView>
                </StackLayout>
            </StackLayout>
        </ScrollView>
        <FlexboxLayout flexDirection="column" flexShrink="0" justifyContent="space-between">
            <FlexboxLayout flexDirection="row" flexShrink="0" justifyContent="space-between">
                <Button text="Verwerfen" class="text-center btn" flexGrow="1" (tap)="dismiss()"></Button>
                <Button text="Löschen" *ngIf="conName !== 'new'" class="text-center btn btn-negative" flexGrow="1" (tap)="delete()"></Button>
            </FlexboxLayout>
            <Button text="Fertig" class="text-center btn btn-primary" width="100%" (tap)="submit()"></Button>
        </FlexboxLayout>
    </FlexboxLayout>

    <AbsoluteLayout #overlay class="overlay" *ngIf="dateDialogOpen" (tap)="toggleDateDialog()" [ngClass]="{'showDialog': dateDialogOpen}">
        <FlexboxLayout class="dialog">
            <FlexboxLayout class="dialog__container dialog__container--picker">
                <DatePicker loaded="onDatePickerLoaded" [(ngModel)]="convention.date"></DatePicker>
            </FlexboxLayout>
        </FlexboxLayout>
    </AbsoluteLayout>

    <AbsoluteLayout #overlay class="overlay" *ngIf="timeDialogOpen" (tap)="toggleTimeDialog()" [ngClass]="{'showDialog': timeDialogOpen}">
        <FlexboxLayout class="dialog">
            <FlexboxLayout class="dialog__container dialog__container--picker">
                <TimePicker loaded="onPickerLoaded" [(ngModel)]="convention.time"> </TimePicker>
            </FlexboxLayout>
        </FlexboxLayout>
    </AbsoluteLayout>
</GridLayout>