<Headbar headline="Characterverwaltung"></Headbar>

<FlexboxLayout flexDirection="column" justifyContent="space-between">
    <ScrollView>
        <FlexboxLayout flexDirection="column">
            <FlexboxLayout *ngFor="let character of getCharacters()" width="100%">
                <CharacterEntry [character]="character">
                </CharacterEntry>
            </FlexboxLayout>
        </FlexboxLayout>
    </ScrollView>
    <FlexboxLayout flexDirection="row" flexShrink="0" justifyContent="space-between">
        <Label width="75%"></Label>
        <Button text="+" class="text-center btn btn-primary" [nsRouterLink]="['./edit/new']" width="25%"></Button>
    </FlexboxLayout>
</FlexboxLayout>