<Headbar headline="Characterverwaltung"></Headbar>

<FlexboxLayout class="character-management k-container">
    <ScrollView>
        <FlexboxLayout class="character-management__character-container">
            <FlexboxLayout *ngFor="let character of getCharacters()">
                <CharacterEntry [character]="character">
                </CharacterEntry>
            </FlexboxLayout>
        </FlexboxLayout>
    </ScrollView>
    <FlexboxLayout class="character-management__footer">
        <Label width="75%"></Label>
        <Button text="&#xf234;" class="text-center btn btn-primary fa" [nsRouterLink]="['./edit/new']" width="25%"></Button>
    </FlexboxLayout>
</FlexboxLayout>