<Headbar headline="Converwaltung"></Headbar>

<FlexboxLayout class="con-management k-container">
    <ScrollView>
        <FlexboxLayout class="con-management__con-container">
            <FlexboxLayout *ngFor="let con of getCons()">
                <ConEntry [con]="con"></ConEntry>
            </FlexboxLayout>
        </FlexboxLayout>
    </ScrollView>
    <FlexboxLayout class="con-management__footer">
        <Label width="75%"></Label>
        <Button text="+" class="text-center btn btn-primary" [nsRouterLink]="['./edit/new']" width="25%"></Button>
    </FlexboxLayout>
</FlexboxLayout>