<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Charakterdetails"></Label>
</ActionBar>
<FlexboxLayout class="character-details">

    <FlexboxLayout class="character-details__box">
        <Label class="message__text" [text]="character.itName"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="character-details__box">
        <Label class="message__text" [text]="character.class"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="character-details__box character-details__box--big">
        <ScrollView>
            <FlexboxLayout class="character-details__box">
                <Label class="message__text" text="Beschreibung"></Label>
                <Label class="message__text" [text]="character.description"></Label>
            </FlexboxLayout>
        </ScrollView>
    </FlexboxLayout>


    <FlexboxLayout class="character-details__box">
        <Button text="Bearbeiten" class="text-center btn btn-primary" [nsRouterLink]="['../../edit/' + character.itName]"></Button>
    </FlexboxLayout>


</FlexboxLayout>