.character-details {
    width: 100%;
    flex-direction: column;
    .character-details__description {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 1;
        height: 100%;
    }
    &__footer {
        flex-direction: row;
        flex-shrink: 0;
        justify-content: space-between;
    }
}