<Headbar headline="Charakterdetails"></Headbar>

<FlexboxLayout class="character-details k-container">
    <FlexboxLayout class="k-segment">
        <Label class="message__text" [text]="character.itName"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="k-segment">
        <Label class="message__text" [text]="character.class"></Label>
        <Label class="message__text" [text]="character.rang"></Label>
    </FlexboxLayout>
    <ScrollView>
        <FlexboxLayout class="k-segment character-details__description">
            <Label class="message__text" text="Beschreibung"></Label>
            <TextView class="message__text" [text]="character.description"></TextView>
        </FlexboxLayout>
    </ScrollView>

    <FlexboxLayout class="character-details__footer">
        <Label width="75%"></Label>
        <Button text="&#xf040;" class="text-center btn btn-primary fa" [nsRouterLink]="['../../edit/' + character.itName]" width="25%"></Button>
    </FlexboxLayout>
</FlexboxLayout>