.message {
    width: 100%;
    &__box {
        border: 1px solid #000000;
        border-radius: 10px;
        margin: 10;
        padding: 5 10;
        background-color: #d6d6d6;
        max-width: 80%;
        flex-direction: column;
    }
}