.character-details {
    width: 100%;
    flex-direction: column;
    &__box {
        padding: 5 10;
        margin-bottom: 5;
        background-color: #d6d6d6;
        flex-direction: row;
        justify-content: space-around;
        flex-shrink: 0;
    }
    &__chat {
        flex-grow: 1;
    }
}