<Headbar headline="Condetails"></Headbar>

<GridLayout>
    <FlexboxLayout class="con-details k-container">

        <FlexboxLayout class="k-segment">
            <Label class="message__text" [text]="convention.name"></Label>
        </FlexboxLayout>
        <FlexboxLayout class="k-segment">
            <Label class="message__text" [text]="convention.date | date:'d MMM yyyy H:m'"></Label>
        </FlexboxLayout>

        <FlexboxLayout class="k-segment">
            <FlexboxLayout class="list-select">
                <FlexboxLayout class="list-select__box con-details__participation" (tap)="toggleAssignDialog()" [ngClass]="{'list-select__box--active': assignDialogOpen, 'assign-switch__no': getAssignmentState('Keine Zeit'), 'assign-switch__maybe': getAssignmentState('Interessiert'), 'assign-switch__yes': getAssignmentState('Dabei') }">
                    <Label class="list-select__text" [text]="currentMember.participation || 'Bitte sag uns ob du Teil nimmst'"></Label>
                </FlexboxLayout>

                <FlexboxLayout class="list-select__box con-details__character" *ngIf="currentMember.participation && currentMember.participation === 'Dabei'" (tap)="toggleCharacterDialog()" [ngClass]="{'list-select__box--active': characterDialogOpen}">
                    <Label class="list-select__text" [text]="currentMember.characterName || 'Wähle deinen Charakter aus'"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </FlexboxLayout>

        <ScrollView>
            <FlexboxLayout class="k-segment con-details__description">
                <Label text="Beschreibung"></Label>
                <TextView [text]="convention.description"></TextView>
            </FlexboxLayout>
        </ScrollView>

        <FlexboxLayout class="k-box" (tap)="openLink(convention.conLink)">
            <Label class="message__text" text="Link zur Con:"></Label>
            <Label class="message__text" [text]="convention.conLink"></Label>
        </FlexboxLayout>
    </FlexboxLayout>

    <AbsoluteLayout #overlay class="overlay" *ngIf="characterDialogOpen" (tap)="toggleCharacterDialog()" [ngClass]="{'showDialog': characterDialogOpen}">
        <FlexboxLayout class="dialog">
            <FlexboxLayout class="dialog__container">
                <FlexboxLayout class="dialog__box" *ngFor="let item of characterList" (tap)="changeCharacterTo(item)">
                    <Label class="dialog__value" [text]="item.itName"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </FlexboxLayout>
    </AbsoluteLayout>

    <AbsoluteLayout #overlay class="overlay" *ngIf="assignDialogOpen" (tap)="toggleAssignDialog()" [ngClass]="{'showDialog': assignDialogOpen}">
        <FlexboxLayout class="dialog">
            <FlexboxLayout class="dialog__container">
                <FlexboxLayout class="dialog__box" *ngFor="let item of assignList" (tap)="changeParticipationTo(item)">
                    <Label class="dialog__value" [text]="item"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </FlexboxLayout>
    </AbsoluteLayout>
</GridLayout>