<FlexboxLayout flexDirection="column" justifyContent="space-between">
    <ScrollView #chatScrollArea>
        <FlexboxLayout flexDirection="column">
            <FlexboxLayout *ngFor="let message of $chat | async" width="100%">
                <Message [text]="message.message" [from]="message.from" [right]="isThisMyMessage(message)"></Message>
            </FlexboxLayout>
        </FlexboxLayout>
    </ScrollView>
    <FlexboxLayout flexDirection="row" flexShrink="0" justifyContent="space-between">
        <TextField class="input input-border" width="75%" hint="Nachricht..." [(ngModel)]="neueNachricht" (focus)="scrollDown()"></TextField>
        <Button text="Senden" class="text-center btn btn-primary" (tap)="sendMessage()" width="25%"></Button>
    </FlexboxLayout>
</FlexboxLayout>