.con-details {
    width: 100%;
    flex-direction: column;
    &__participation {
        flex-grow: 1;
    }
    &__character {
        width: 66%;
        flex-shrink: 0;
    }
    .con-details__description {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 1;
        height: 100%;
    }
}

.spacer {
    flex-grow: 1;
}