<Headbar headline="Converwaltung"></Headbar>

<FlexboxLayout class="con-main k-container">

    <FlexboxLayout class="k-box" [nsRouterLink]="['../../details/' + convention.name]">
        <Label class="message__text" [text]="convention.name"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="k-box">
        <Label class="message__text" text="Planungsdokument"></Label>
        <Button text="Edit" class="text-center btn" [nsRouterLink]="['../../edit/' + convention.name ]" width="25%"></Button>
    </FlexboxLayout>
    <FlexboxLayout class="k-box">
        <Label class="message__text" text="Teilnehmer"></Label>
        <Label class="message__text" [text]="convention.members?.length || 0"></Label>
    </FlexboxLayout>

    <Chat></Chat>

</FlexboxLayout>